<div class="home">
	<h1>What is this?</h1>
	<p class="lead">This is a site that shows what articles on the Internet philosophers on Twitter are linking to.</p>

	<h1>How does it work?</h1>
	<p>Every ten minutes it checks my <a href="https://twitter.com/monkeyx/lists/philosophers">philosophers</a> list on Twitter and parses out any links. It picks out links heading outside Twitter and works out what they link to, saving them here for up to 30 days.</p>

	<h1>Why is my link not showing?</h1>
	<p>Only links posted by those on the <a href="https://twitter.com/monkeyx/lists/philosophers">philosophers</a> list will show. If you think you should be on this list, drop me an <a href="mailto:monkeyx@gmail.com?subject=phlinks">email</a> with a link to your Twitter profile.</p>
	<p>Some links are filtered out because the site couldn't be reached or the articles on that site are typically behind a hard paywall.</p>

	<p><%=link_to 'Home', root_url %></p>
</div>

